services:
    netgen_admin_ui.helper.path_helper:
        class: Netgen\Bundle\AdminUIBundle\Helper\PathHelper
        public: false
        arguments:
            - "@ezpublish.api.service.location"
            - "@ezpublish.translation_helper"
            - "@ezpublish.config.resolver"
            - "@router"

    netgen_admin_ui.event_listener.legacy_exception:
        class: Netgen\Bundle\AdminUIBundle\EventListener\LegacyExceptionListener
        # public: false
        arguments:
            - "$is_admin_ui_siteaccess;netgen_admin_ui$"
        tags:
            - { name: kernel.event_subscriber }
